:root{
    --mainFont: Inria-Serif;
    --primaryFont: Inter;
    --mainCol: #1F4A42;
    --primaryCol: #F2D07D;
    --lightGray: #F3F3F3;
    --Gray: #87888B;
    --dark: #3E3F42;
  }


main.cart-page{
    font-family: var(--primaryFont);
    padding: 20px 30px;
    display: flex;
    gap: 20px;
  }

  .cart-title{
    text-align: center;
    font-family: var(--primaryFont);
  }
  h2 {
      margin: 20px 0px;
      font-size: 28px;
  }
  .cart-content {
      display: flex;
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
  }
  .product-list   {
      width: 70%;
  }
  h3{
      font-family: Inter;
  }
  .product-tool{
    overflow: visible;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .product-item {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
  }
  .header-label{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: bold;
  }
  hr.line-product{
    border: 1px solid #D6D6D6;
  }
  .center-header-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .center-header{
      font-weight: bold;
  }
  .quantity-control {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: max-content;
  }
  .remove-container i{
    display: inline;
  }
  .quantity-control div{
    width: 10px;
    display: flex;
    justify-content: center;
  }
  
  .quantity-control div:hover{
    cursor: pointer;
  }
  .quantity-control div:active{
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .quantity-control input {
      width: 50px;
      text-align: center;
  }
  .product-image {
      width: 160px; 
      height: 200px; 
      object-fit: cover; 
  }
  .product-list{
    width: 100%;
  }
  .product-name-container {
      display: flex;
      width: max-content;
      width: 40%;
      overflow: visible;
      gap: 10px;
  }
  .product-name-container div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: visible;
  }
  .product-name{
    font-weight: bold;
    font-size: 1.1em;
    white-space: nowrap;overflow: visible;
  }
  /*right*/
  .Cart-Total{
      display: grid;
      grid-template-rows: 50px 30px 30px repeat(4,30px) 1fr;
      height: auto;
      
  }
  .line {
      width: 1px;
      background-color: lightgrey;
      height: 760px;
  }
  
  .right-bar {
    width: 40%; /* Instead of fixed px, use percentage */
    height: max-content;
    padding: 2em;
    background-color: #F2D07D;
    border: 1px solid black;
    min-width: 370px;
  }
  
  .Cart-Total h3 {
      
      margin-bottom: 2em;

  }
  
  .total-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5em;
  }
  .Total-all{
      padding-top: 3em;
      display: flex;
      justify-content: space-between;
      font-size: 1.3em;
      font-family: var(--primaryFont);
  }
  .last{
      margin-bottom: 3em;
  }
  hr{
      border: 1px solid #F3EAD6;
      width: 100%;
      height: 0;
      margin-top:1.5em; 
  }
  
  .button-pay {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #1F4A42;
      color: #F2D07D;
      border: none;
      font-size: 1.5em;
      cursor: pointer;
      padding: 20px 0px;
      margin-top: 10px;
  }
  
  button:hover{
      background-color: #1c413b;
  }
  button:active{
      background-color: #1a3b35;
  }
  @media screen and (max-width: 1115px)
  {
    main.cart-page{
        flex-direction: column;
    }
    .line{
        display: none;
    }
    .center-header-container    {
        width: 40%;
    }
    .header-label{
        padding: 0px;
    }
    .product-tool{
        width: 40%;
    }
    .product-name-container{
        width: 50%;

    }
  }
  @media screen and (max-width: 705px)
  {
    .product-name-container{
        width: 55%;
    }

    .product-tool{
        gap: 10px;
        width: 50%;
    }

    .center-header-container    {
        gap: 10px;
        width: 45%;
    }

    .product-image{
        width: 100px;
        height: 150px;
    }
  }

  @media screen and (max-width: 570px)
  {
    .right-bar{
        width: 100%;
    }

    .product-name{
        font-size: 1em;
    }
  }
  @media screen and (max-width: 522px)
  {
    .product-tool{
        flex-direction: column;
        height: 100px;
        align-items: flex-end;
    }
    .center-header-container{
        display: none;
    }
    .cart-price::before{
        content: "Price: ";
        font-weight: bold;
    }
    .cart-total::before{
        content: "Total: ";
        font-weight: bold;
    }
  }
  /* @media (max-width: 1000px) {
    .cart-content {
      flex-direction: column;
      align-items: center;
    }

    .product-list {
      width: 100%;
      margin-bottom: 20px; 
    }
  
    .right-bar {
      width: 90%; 
      margin-left: 0;
      margin-top: 20px; 
    }
  
    .line {
      display: none;
    }
    h2 {
        font-size: 24px;
      }
    
    h3 {
        font-size: 20px;
      }
    
    .header-line {
        font-size: 1em; 
      }
    
    .product-item {
        font-size: 0.9em; 
      }
    
    .Cart-Total h3 {
        font-size: 1.5em; 
      }
    
    .total-row {
        font-size: 1em; 
      }
    
    .button-pay {
        font-size: 1.5em; 
      }
  } */
