/* Variables */
:root {
  --mainFont: Inria-Serif;
  --primaryFont: Inter;
  --mainCol: #1f4a42;
  --primaryCol: #f2d07d;
}
.payment-page {
  font-family: "Inter";
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  height: 100%;
  padding: 20px 30px;
  gap: 20px;
}
p.address-warning{
  color: #969696;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: flex-start;
}
.address-warning i{
  font-size: 25px;
  color: rgb(0, 255, 72);
  margin-top: -2px;
}
main.main-payment-page{
  padding: 20px 0px;
}
.payment-page input{
  padding: 0px 15px;
}
.payment-page-title{
  font-family: var(--primaryFont);
  text-align: center;
}
.product-payment-container {
  display: flex;
  flex-direction: column;
  border: 2px groove;
  gap: 20px;
}

.shipping-content {
  height: 50%;
  margin: 20px;
}
.payment-method {
  height: 50%;
}
.shipping-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.input-address {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
.input-address input {
  width: 100%;
  height: 200%;
}

.payment-method {
  display: flex;
  flex-direction: column;
  margin: 20px;
  row-gap: 10px;
}
.payment-in {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.expiration-cvc {
  display: flex;
  column-gap: 15px;
}
.card-in input {
  width: 100%;
  height: 100%;
}
.expiration-cvc input {
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}
.expiration-in {
  flex-grow: 1;
}
.cvc-in {
  flex-grow: 1;
}
.purchase-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}
.purchase-btn button {
  width: 150px;
  background-color: #1f4a42;
  color: var(--primaryCol);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.purchase-btn button:hover{
  background-color: #1c433c;
}
.purchase-btn hr {
  width: 100%;
  border: 1px groove #cdc3c3;
}
.bank {
  margin-top: -20px;
  cursor: pointer;
}
.bank img{
  width: 40px;
  height: 25px;
}
.receipt-content {
  width: 100%;
  padding: 20px;
  background-color: #f2d07d;
  display: flex;
  flex-direction: column;
  border: 2px groove;
  gap: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
  width: 100%;
}
p.payment-product-name{
  font-weight: bold;
  font-size: 1.1em;
}
.item .color{
  display: flex;
  align-items: center;
  gap: 10px;
}
.color-display{
  width: 15px;
  height: 80%;
  border: 1px solid black;
}
.color-display-black{
  background-color: black;
}
.color-display-blue{
  background-color: #47545C;
}
.color-display-gray{
  background-color: #D8CEC5;
}
.item {
  display: flex;
  gap: 20px;
  height: 100px;
}
.item .img{
  width: 80px;
  border: 1px solid black;
  position: relative;
}
.item .img img{
  height: 100%;
  width: 100%;
}
.img-des{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1f4a42;
  color: var(--primaryCol);
  width: 25px;
  height: 25px;
  font-size: 1em;
  top: -5%;
  left: 80%;
  position: absolute;
}
.product-total {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  gap: 20px;
}
.coupon-number {
  display: flex;
  height: 45px;
  gap: 10px;
}
.coupon-in {
  flex-grow: 1;
}
.coupon-in input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 1.2em;
  outline: none;
  border: 1px solid var(--mainCol);
}
.apply-btn{
  height: 100%;
}
.apply-btn button {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  color: #f2d07d;
  background: #1f4a42;
  cursor: pointer;
  height: 100%;
}
.payment-price-container{
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}
.product-total hr {
  width: 100%;
  border: 1px solid black;
}
.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  margin-top: 10px;
}
.kh-total {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4em;
  margin-top: -10px;
}
.total-description {
  color: #8a8a8a;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 941px) {
  .payment-page {
    grid-template-columns: 1fr;
  }
  .receipt-page {
    display: flex;
    width: max-content;
  }
}